*{
     box-sizing: border-box;
}
body{
     padding: 0;
     margin: 0;
     color: #404040;
     font-family: "Montserrat" , "Oswald" , "Vollkorn", "Arial" , sans-serif;
}
*:focus{
     outline: 2px dotted #de2e54;
     outline-offset: 2px;
     border-radius: 6px;
}
/* CONTAINER */
.container{
     width: 100%;
     max-width: 1000px;
     padding-left: 30px;
     padding-right: 30px;
     margin-right: auto;
     margin-left: auto;
}

.breands-chiziq{
     width: 80px;
     border: 1px solid rgba(0, 0, 0, 0.09);
     background-color: rgba(0, 0, 0, 0.09);
     margin-top: 0;
     margin-bottom: 0;
}
/* SITE HEADER */
.site-header {
     padding-top: 18px;
     padding-bottom: 18px;
}
.site-header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.sitenav {

     font-size: 15px;
     line-height: 20px;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-weight: bold;
     text-decoration: none;
}
.sitenav-list {
     display: flex;
     align-items: center;
     padding: 0;
     margin: 0;
     list-style: none;
}
.sitenav-item:not(:last-child){
     margin-right: 32px;
}
.sitenav-link {
     display: block;
     text-decoration: none;
     transition: 0.5s ease;
     color: #404040;
}
.sitenav-link:hover{
     color: #201f1f;
}
.sitenav-link:active{
     opacity: 0.6;
     color: black;
}
.header-box{
     width: 100%;
     height: 391px;
     background-image: url(../IMG/IMAGE.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 105px;
}
.block {
     justify-content: center;
     text-align: center;
     color: #fff;
}
.header-heading {
     font-family: "Montserrat" , "Oswald" , "Vollkorn", "Arial" , sans-serif;
     text-transform: uppercase;
     font-size: 44px;
     line-height: 55px;
     font-weight: 400;
     margin-top: 0;
     margin-bottom: 0;
}
.header-heading-bottom {
     margin-top: 0;
     margin-bottom: 0;
     margin-bottom: 28px;
}
.header-heading-bottom-chiziq {
     border: 1px solid #FFFFFF;
     background-color: #fff;
     width: 80px;
     /* height: 1px; *header */
     margin-bottom: 41px;
}
.header-text {
     color: rgba(255, 255, 255, 0.81);
     font-size: 15px;
     line-height: 20px;
     font-family: "Montserrat" , "Oswald" , "Vollkorn", "Arial" , sans-serif;
     font-weight: 400;
     line-height: 96%;
     align-items: center;
     vertical-align: top;
}


.header-bottom {
     width: 100%;
     height: 269px;
     background-color: #FEFEC9;
     justify-content: center;
     text-align: center;
}

.header-bottom-text {
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 60px;
     padding-bottom: 40px;
     color: #201f1f;
     font-family: "Vollkorn", "Montserrat" , "Oswald" , "Arial" , sans-serif;
     font-size: 18px;
     line-height: 25px;
     font-weight: 400;


}
.header-bottom-link {
     margin-bottom: 61px;
     padding: 13px 34px 20px;
     text-decoration: none;
     border: 1px solid #47474F;
     box-shadow: 0 1px 0 0 black;
     font-family: "Vollkorn", "Montserrat" , "Oswald" , "Arial" , sans-serif;
     color: rgba(71, 71, 79, 1) ;
     font-size: 16px;
     line-height: 20px;
     font-weight: 400;
}


.header-breands-container {
     justify-content: center;
     text-align: center;
     font-weight: 300;
}
.header-breands-heading {
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 50px;
     padding-bottom: 20px ;
     text-transform: uppercase;
     color: rgba(51, 51, 51, 0.979);
     font-family: "Montserrat" , "Vollkorn" , "Oswald" , "Arial" , sans-serif;
     font-size: 23px;
     line-height: 36px;

}
.header-breands-chiziq {
     margin-top: 0;
     margin-bottom: 30px;

}
.header-breands {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Montserrat" , "Vollkorn" , "Oswald" , "Arial" , sans-serif;
     color: rgba(51, 51, 51, 1);
     font-family: 400;

}
.header-breands-content:not(:last-child) {
     padding-right: 20px;

}
.header-breands-content-img-backgraund{
     padding: 50px 87px;
     background-color: #F5F5F5;
     margin-bottom: 38px;
}
.header-breands-content-target {
     margin-top: 0;
     margin-bottom: 20px;
     text-transform: uppercase;
     font-size: 16px;
     line-height: 20px;

}
.header-breands-contnet-text {
     margin: 0 5px;
     padding-bottom: 50px;
     font-size: 15px;
     line-height: 22px;
}

.section-box {
     background-color:#F5F5F5;
     padding-bottom: 60px;
}

.section-project-container {
     justify-content: center;
     align-items: center;
     text-align: center;

}
.section-project-heading {
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 69px;
     padding-bottom: 28px;
     text-transform: uppercase;
     font-family: "Montserrat" , "Vollkorn" , "Oswald" , "Arial" , sans-serif;
     color:  rgba(51, 51, 51, 1);
     font-size: 23px;
     line-height: 26px;
}

.section-project {
     display: flex;
     flex-wrap: wrap;
     padding-top: 43px;
}
 img.section-project-img{
     margin-right: 13px;
     margin-bottom: -4px;
     border: 0;
}

.section-project-bottom {
     width: 300px;
     background-color: #fff;
     font-family: "Montserrat" , "Vollkorn" , "Oswald" , "Arial" , sans-serif;
     font-weight: 400px;
     color: #333333;
     line-height: 20px;
}
.section-project-bottom-heading {
     margin-top: 0;
     padding-top: 19px;
     text-transform: uppercase;
     font-size: 16px;
     padding-bottom: 5px;
     margin: 0;

}
.section-project-bottom-text {
     margin-top: 0;
     margin-bottom: 20px;
     font-family: "Vollkorn",  "Montserrat"  , "Oswald" , "Arial" , sans-serif;
     font-size: 14px;
     padding-bottom: 21px;

}





.main-section-box {
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family:  "Montserrat",  "Vollkorn" , "Oswald" , "Arial" , sans-serif;
     font-weight: 400;
     color: #333333;
}
.main-section-heading {
     margin-top: 0;
     margin-bottom: 0;
     padding-top: 75px;
     padding-bottom: 25px;
     text-transform: uppercase;
     font-size: 23px;
     line-height: 36px;
}
.breands-chiziq {
     margin-bottom: 40px;
}
.main-section-content {
     display: flex;
     flex-wrap: wrap;
     padding-bottom: 50px;
}
.main-section-contact {
     /* display: flex; */
}
.main-section-img:not(:last-child) {
     margin-right: 15px;
}
.main-section-contact-heading {
     margin-top: 0;
     margin-bottom: 6px;
     padding-top: 20px;
     text-transform: uppercase;
     font-size: 16px;
     line-height: 20px;
}
.main-section-text {
     padding-bottom: 10px;
     font-size: 14px;
     line-height: 20px;
}

.main-contact-img {
     text-decoration: none;
     list-style: none;
}
.main-contact-link{
     color: snow;
     padding-right: 15px;
}